<div class="left">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</div>
<div class="right">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Licence Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />Ce(tte) <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" rel="dct:type">oeuvre</span> de <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.oraomai.com" property="cc:attributionName" rel="cc:attributionURL">Andrea D&#39;Amico</a> est mise à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">licence Creative Commons Attribution - Pas d&#39; Utilisation Commerciale - Partage à l&#39;Identique 3.0 non transposé</a>
</div>
