<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }}/blog/categories/photography">Photography</a></li>
  <li><a href="{{ root_url }}/blog/categories/english"><img src="http://www.google.com/images/flags/uk_flag.png" alt="English"></a></li>
  <li><a href="{{ root_url }}/blog/categories/italiano"><img src="http://www.google.com/images/flags/it_flag.png" alt="Italiano"></a></li>
  <li><a href="{{ root_url }}/blog/categories/francais"><img src="http://www.google.com/images/flags/fr_flag.png" alt="Français"></a></li>
</ul>
